body {
  background-color: #FFF8DC;
}

h1 {
  font-family: Lucida;
  color: black;
  text-align: center;
  font-size: 40px;
}

p {
  font-family: Lucida;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.topnav {
  background-color: #FFF8DC;
  overflow: hidden;
  float: center;
  color: black;
  font-family: Lucida;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #FFEBCD;
  color: black;
}

.topnav a.active {
  background-color: #8FBC8F;
  color: black;
}